#hero-panel
  .container
    .row
      .span12
        %h1
          .logo 
            =image_tag 'rubywx.png'
            %p
            %link-logo Ruby MEETUP
<div id="main-info">
<div class="container">
<div class="row">
<div class="span6">
<h2>What we do</h2>

<ul class="what-we-do unstyled">
%li 
  .cources


%h2 Kiev:
%p Final! Meetup 05.01.2013 18:00 KOMOD м.Левобережная #{link_to "map", "http://maps.yandex.ua/?text=%D0%9C%D1%83%D0%BB%D1%8C%D1%82%D0%B8%D0%BF%D0%BB%D0%B5%D0%BA%D1%81%20%D0%B2%20%D0%A2%D0%A0%D0%9A%20%D0%9A%D0%BE%D0%BC%D0%BE%D0%B4%2C%20%D0%9A%D0%B8%D0%B5%D0%B2%2C%20%D1%83%D0%BB.%20%D0%9B%D1%83%D0%BD%D0%B0%D1%87%D0%B0%D1%80%D1%81%D0%BA%D0%BE%D0%B3%D0%BE%2C%204&sll=30.5985230%2C50.4534640&sspn=0.593103%2C0.379925&z=16&results=1&ll=30.598523%2C50.453464&spn=0.014591%2C0.007165&l=map&pt=30.5985230%2C50.4534640"}
%p Next RoR course 15.1.2013
=link_to "dou", "http://dou.ua/calendar/2505/" 
=link_to 'rorcourse', 'http://rorcourse.herokuapp.com/'


</ul>
</div>

<div class="span6">
%h2 How to Contact Us
%p We are always open to new ideas and projects. If you have a desire to gain or share knowledge, to organize a conference or to participate in the development of exciting products, we are always glad to see you:
<ul class="contacts unstyled">

%p Dnepropetrovsk:
<li class="email">info@rubygarage.org</li>
<li class="tel">+38 096 93 26 360</li>

%p Kiev:
<li class="email">artem.suchov@gmail.com</li>
<li class="tel">+38 095 168 20 33</li>
<li class="skype">SuchovAV</li>

<p>Kharkiv: </p>

<li class="tel">+38 095 320 14 72</li>
<li class="skype">ig_omelch</li>

</ul>
</div>

%p Our friends: <ul class="contacts unstyled">
%h3
  %li
    <a href="http://rubygarage.org/">RUBY Garage</a>
    <a href="http://www.rubyplus.org/ror">Collage</a>
    <a href="http://dou.ua/forums/topic/5652/">DOU</a>
    <a href="http://www.svitla.com/">Svitla</a>
    <a href="http://www.dataart.ru/">DataArt</a>
    <a href="http://cogniance.com/">Cogniance</a>
    <a href="http://www.iteraconsulting.com.ua/">Itera Consulting</a>
    </ul>
    </div>
    </div>
    </div>
