<div class="container">
<h2>Useful staff:</h2>
<p>
<ul>
%h3
  Ruby
%li
  =link_to "http://net.tutsplus.com/sessions/ruby-for-newbies/", "http://net.tutsplus.com/sessions/ruby-for-newbies/"
%li
  = link_to "Lynda.com - Ruby Essential Training (2009 г., with Kevin Skoglund)", "http://rutracker.org/forum/viewtopic.php?t=2342166"
%li
  = link_to "code.he.net - Hurricane electric interactive programming class", "http://code.he.net"
%li
  = link_to "rubymonk - Learn Ruby today. Discover Ruby idioms, learn lessons and solve problems, all in your browser!", "http://rubymonk.com/"
%li
  = link_to "closures-in-ruby - Ruby examples", "http://innig.net/software/ruby/closures-in-ruby"
%li
  = link_to "http://ruby.rpod.ru/", "http://ruby.rpod.ru/"
</ul>

<ul>
%h3
  Rails
%li
  = link_to "railstutorial - Tutorial with tests", "http://ruby.railstutorial.org/"
%li
  = link_to "guides - Extensive excellent documentation about Rails", "http://guides.rubyonrails.org/"
%li
  = link_to "railscasts - Ruby on rails screencasts", "http://railscasts.com/"
%li
  = link_to "Lynda.com - Ruby on Rails 3 Essential Training with KEVIN SKOGLUND", "http://rutracker.org/forum/viewtopic.php?t=3221825"
%li
  = link_to "Lynda.com - Ruby on Rails Beyond the Basics", "http://rutracker.org/forum/viewtopic.php?t=536269"
</ul>

<ul>
<h3>Linux</h3>
%li
  = link_to "youtube about linux", "http://www.youtube.com/results?search_query=linux+terminal+101&oq=linux+ter&gs_l=youtube.3..0l10.26490.30001.0.34337.9.9.0.0.0.0.167.1043.1j8.9.0...0.0...1ac.Y4hFQDIl20o"
</ul>

<ul>
%h3
  Unknown staff - video, blogs...
Vim не интуитивен, так что эффективная работа с редактором требует предварительного обучения.</br>
%li
  = link_to "http://vimbits.com/", "http://vimbits.com/"
%li
  = link_to "http://jenyay.net/Programming/Vim", "http://jenyay.net/Programming/Vim"
%li
  = link_to "http://ru.wikibooks.org/wiki/Vim", "http://ru.wikibooks.org/wiki/Vim"
%li
  = link_to "http://www.allaboutvim.ru/", "http://www.allaboutvim.ru/"
%li
  = link_to "http://www.opennet.ru/docs/HOWTO-RU/Vim-HOWTO.html", "http://www.opennet.ru/docs/HOWTO-RU/Vim-HOWTO.html"
%li
  = link_to "http://konishchevdmitry.blogspot.com/2008/07/howto-vim.html", "http://konishchevdmitry.blogspot.com/2008/07/howto-vim.html"
%li
  = link_to "http://www.net4me.net/examples/32/net34.html", "http://www.net4me.net/examples/32/net34.html"
%li
  = link_to "sphereinc - work example", "http://www.sphereinc.com/ruby-on-rails-development-case-studies/"
%li
  = link_to "Udasity - good courses(Python)", "http://www.udacity.com/courses"
%li
  = link_to "devweb-magazine", "http://devweb-magazine.com/"
%li
  = link_to "ruby framework built upon the Sinatra web library", "http://www.padrinorb.com/"
%li
  = link_to "sinatrarb", "http://www.sinatrarb.com/"
%li
  = link_to "marakana", "http://marakana.com/"
%li
  = link_to "Joosy: альтернативный подход к браузерным фреймворкам", "http://habrahabr.ru/company/roundlake/blog/145210/"
%li
  = link_to "bootstrap", "http://twitter.github.com/bootstrap/base-css.html"
%li
  = link_to "findicons", "http://findicons.com"
%li
  = link_to "appfog.com - hosting", "http://www.appfog.com/"
%li
  = link_to " Develop and Scale Apps in the Cloud ", "https://openshift.redhat.com/app/"
%li
  = link_to "Переносим сайт в облака или Amazon S3 как хостинг ", "http://lifehacker.ru/2011/02/24/perenosim-sajjt-v-oblaka-ili-amazon-s3-kak-hosting/"
%li
  = link_to "mediatemple.net/webhosting", "http://mediatemple.net/webhosting/"
%li
  = link_to "moqups.com", "https://moqups.com/"
%li
  = link_to "css-tricks", "http://css-tricks.com/"
%li
  = link_to "Your blog...", "http://warm-savannah-7005.herokuapp.com/"
%li
  = link_to "github.com/DavidKlassen/node-tutorial", "https://github.com/DavidKlassen/node-tutorial/"
%li
  = link_to "git - start to work", "http://www.calculate-linux.ru/main/ru/git"
%li
  = link_to "quick-tip-automation-with-git-hooks", "http://net.tutsplus.com/tutorials/tools-and-tips/quick-tip-automation-with-git-hooks/"
%li
  = link_to "The entire Pro Git book", "http://git-scm.com/book"
%li
  = link_to "webcast.berkeley.edu - computer science", "http://webcast.berkeley.edu/series.html#c,d,Computer_Science"
%li
  = link_to "OpenCourseWare по-русски", "http://ruocw.org/"
%li
  = link_to "lektorium.tv - computer science", "http://www.lektorium.tv/subject/?id=2716"

WEB/DEV:</br>
%li
  = link_to "stackoverflow", "http://stackoverflow.com/"
%li
  = link_to "slashdot - it news", "http://slashdot.org/"
%li>
  = link_to "Высокотехнологичный блог", "http://ajc.su/category/web-razrabotka/"

CODING:</br>
%li
  = link_to "http://www.topcoder.com/", "http://www.topcoder.com/"
%li
  = link_to "OpenCourseWare Consortium", "http://www.ocwconsortium.org/"

RegEx:</br>
%li
  = link_to "rubular", "http://rubular.com/"

Ruby:</br>
%li
  = link_to "http://ruby.bastardsbook.com", "http://ruby.bastardsbook.com"
%li
  = link_to "blog.centresource.com", "http://blog.centresource.com/"
%li
  = link_to "ruby-toolbox - крутой сервис сравнения популярности гемов", "https://www.ruby-toolbox.com/"
%li
  = link_to "install rvm", "https://rvm.io//workflow/rvmrc/"
%li
  = link_to "http://www.ioncannon.net/", "http://www.ioncannon.net/"
%li
  = link_to "davetron5000's Ruby Style Guide", "http://davetron5000.github.com/ruby-style/"
%li
  = link_to "toranbillups.com/blog/ - blog...", "http://toranbillups.com/blog/"
%li
  = link_to "rspec.info", "http://rspec.info/"
%li
  = link_to "http://www.rubyquiz.com/", "http://www.rubyquiz.com/"
%li
  = link_to "http://www.ruby-forum.com/", "http://www.ruby-forum.com/"
%li
  = link_to "http://www.the-tech-tutorial.com/", "http://www.the-tech-tutorial.com/"
%li
  = link_to "http://ruby.hasbrains.ru/", "http://ruby.hasbrains.ru/"
%li
  = link_to "http://www.zenspider.com/", "http://www.zenspider.com/"
%li
  = link_to "http://cukes.info/", "http://cukes.info/"
%li
  = link_to "http://www.rubyinside.com/", "http://www.rubyinside.com/"
%li
  = link_to "http://rubydoc.info/", "http://rubydoc.info/"
%li
  = link_to "http://blade.nagaokaut.ac.jp/ruby/ruby-talk/index.shtml", "http://blade.nagaokaut.ac.jp/ruby/ruby-talk/index.shtml"
%li
  = link_to "http://www.ex.ua/view/845647", "http://www.ex.ua/view/845647"
%li
  = link_to "rubyforge.org - home for the RubyGems repository", "http://www.rubyforge.org"
%li
  = link_to "http://rdoc.sourceforge.net/doc/", "http://rdoc.sourceforge.net/doc/"
%li
  = link_to "http://rubykoans.com/", "http://rubykoans.com/"
%li
  = link_to "http://www.ruby-doc.org/core-1.9.3/", "http://www.ruby-doc.org/core-1.9.3/"
%li
  = link_to "http://cheat.errtheblog.com/", "http://cheat.errtheblog.com/"
%li
  = link_to "https://github.com/bbatsov/rails-style-guide", "https://github.com/bbatsov/rails-style-guide"
%li
  = link_to "http://pathfindersoftware.com/2008/10/elements-of-ruby-style/", "http://pathfindersoftware.com/2008/10/elements-of-ruby-style/"
%li
  = link_to "https://github.com/chneukirchen/styleguide/blob/master/RUBY-STYLE", "https://github.com/chneukirchen/styleguide/blob/master/RUBY-STYLE"
%li
  = link_to "http://www.caliban.org/ruby/rubyguide.shtml#style", "http://www.caliban.org/ruby/rubyguide.shtml#style"
%li
  = link_to "https://github.com/bbatsov/ruby-style-guide", "https://github.com/bbatsov/ruby-style-guide"
%li
  = link_to "https://github.com/styleguide/ruby", "https://github.com/styleguide/ruby"
%li
  = link_to "https://github.com/lumoslabs/rails-style-guide/blob/", "https://github.com/lumoslabs/rails-style-guide/blob/"
%li
  = link_to "https://github.com/turboladen/tailor/wiki", "https://github.com/turboladen/tailor/wiki"
%li
  = link_to "http://pclib.in.ua/?s=ruby", "http://pclib.in.ua/?s=ruby"

Rails:</br>
%li
  = link_to "http://corelib.rubyonrails.org/", "http://corelib.rubyonrails.org/"
%li
  = link_to "http://vagrantup.com/", "http://vagrantup.com/"
%li
  = link_to "http://www.opinionatedprogrammer.com/2011/11/twitter-bootstrap-on-rails/", "http://www.opinionatedprogrammer.com/2011/11/twitter-bootstrap-on-rails/"
%li
  = link_to "http://solnic.eu/2011/08/01/making-activerecord-models-thin.html", "http://solnic.eu/2011/08/01/making-activerecord-models-thin.html"
%li
  = link_to "http://www.naildrivin5.com/blog/2012/06/10/single-responsibility-principle-and-rails.html", "http://www.naildrivin5.com/blog/2012/06/10/single-responsibility-principle-and-rails.html"
%li
  = link_to "http://jonathanhui.com/ruby-rails-3", "http://jonathanhui.com/ruby-rails-3"
%li
  = link_to "http://nashbridges.me/ruby-books", "http://nashbridges.me/ruby-books"
%li
  = link_to "http://railsapi.com/", "http://railsapi.com/"
%li
  = link_to "http://railsforum.com/", "http://railsforum.com/"
%li
  = link_to "http://www.postgresql.org/docs/9.1/interactive/index.html", "http://www.postgresql.org/docs/9.1/interactive/index.html"
%li
  = link_to "http://api.rubyonrails.org/", "http://api.rubyonrails.org/"
%li
  = link_to "http://www.opensourcerails.com/", "http://www.opensourcerails.com/"
%li
  = link_to "http://vessi.github.com/", "http://vessi.github.com/"
%li
  = link_to "http://rubydev.ru/ruchebnik-ruby-on-rails/", "http://rubydev.ru/ruchebnik-ruby-on-rails/"
%li
  = link_to "http://rusrails.ru/", "http://rusrails.ru/"
%li
  = link_to "http://www.opensourcerails.com/", "http://www.opensourcerails.com/"
%li
  = link_to "http://www.ex.ua/view/11694670", "http://www.ex.ua/view/11694670"
%li
  = link_to "http://www.readysetrails.com/index.php/1951/the-very-best-way-to-learn-ruby-on-rails/", "http://www.readysetrails.com/index.php/1951/the-very-best-way-to-learn-ruby-on-rails/"

Heroku:</br>
%li
  = link_to "http://scottr.org/presentations/git-in-5-minutes/", "http://scottr.org/presentations/git-in-5-minutes/"
%li
  = link_to "http://diseaz.github.com/gitmagic/book.html", "http://diseaz.github.com/gitmagic/book.html"
%li
  = link_to "http://rubyflow.ru/items/1119", "http://rubyflow.ru/items/1119"
%li
  = link_to "http://habrahabr.ru/post/59270/", "http://habrahabr.ru/post/59270/"
%li
  = link_to "http://git-scm.com/book", "http://git-scm.com/book"

GIT:</br>
%li
  = link_to "https://vimeo.com/14629850", "https://vimeo.com/14629850"
%li
  = link_to "http://try.github.com/wrap_up", "http://try.github.com/wrap_up"

CSS:</br>
%li
  = link_to "http://tympanus.net/codrops/2012/06/12/css-only-responsive-layout-with-smooth-transitions/", "http://tympanus.net/codrops/2012/06/12/css-only-responsive-layout-with-smooth-transitions/"
%li
  = link_to "http://reference.sitepoint.com", "http://reference.sitepoint.com"
%li
  = link_to "http://haml.info/", "http://haml.info/"
%li
  = link_to "http://sass-lang.com/", "http://sass-lang.com/"
%li
  = link_to "http://css-tricks.com/", "http://css-tricks.com/"
%li
  = link_to "http://www.w3.org/Style/CSS/Overview.en.html", "http://www.w3.org/Style/CSS/Overview.en.html"
%li
  = link_to "http://www.freebiepixels.com/category/resources/themes/", "http://www.freebiepixels.com/category/resources/themes/"
%li
  = link_to "http://webaim.org/techniques/skipnav/", "http://webaim.org/techniques/skipnav/"

HTML:</br>
%li
  = link_to "http://slim-lang.com/", "http://slim-lang.com/"
%li
  = link_to "http://thesummeroflearning.com", "http://thesummeroflearning.com"
%li
  = link_to "http://htmlbook.ru/", "http://htmlbook.ru/"
%li
  = link_to "http://code.google.com/p/html5shiv/", "http://code.google.com/p/html5shiv/"
%li
  = link_to "http://gsnedders.html5.org/outliner/", "http://gsnedders.html5.org/outliner/"
%li
  = link_to "http://html5.validator.nu/", "http://html5.validator.nu/"
%li
  = link_to "http://www.typography.com/", "http://www.typography.com/"
%li
  = link_to "http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#valid-global-date-and-time-string", "http://www.whatwg.org/specs/web-apps/current-work/multipage/common-microsyntaxes.html#valid-global-date-and-time-string"
%li
  = link_to "http://www.w3.org/", "http://www.w3.org/"

SEO:</br>
%li
  = link_to "http://www.google.com/analytics/", "http://www.google.com/analytics/"
%li
  = link_to "http://www.ex.ua/view/9190368?r=28714", "http://www.ex.ua/view/9190368?r=28714"
%li
  = link_to "https://adwords.google.com/o/Targeting/Explorer?ideaRequestType=KEYWORD_IDEAS&__u=5569616313&__c=3443445153#search.none", "https://adwords.google.com/o/Targeting/Explorer?ideaRequestType=KEYWORD_IDEAS&__u=5569616313&__c=3443445153#search.none"

Drawing:</br>
%li
  = link_to "http://www.ex.ua/view/12441772?r=28714", "http://www.ex.ua/view/12441772?r=28714"
%li
  = link_to "http://www.stunningmesh.com/2012/06/excellent-web-layout-design-tutorials-photoshop/", "http://www.stunningmesh.com/2012/06/excellent-web-layout-design-tutorials-photoshop/"

JS:</br>
%li
  = link_to "http://tinkerbin.com/"
%li
  = link_to "http://arcturo.github.com/library/coffeescript/06_applications.html"
%li
  = link_to "http://joosy.ws/", "http://joosy.ws/"
%li
  = link_to "http://codepen.io/", "http://codepen.io/"
%li
  = link_to "http://angularjs.org/", "http://angularjs.org/"
%li
  = link_to "http://javascript.ru/book", "http://javascript.ru/book"
%li
  = link_to "http://www.jsr.com/", "http://www.jsr.com/"
%li
  = link_to "http://www.codecademy.com", "http://www.codecademy.com"
%li
  = link_to "http://ajc.su/category/web-razrabotka/javascript-2/", "http://ajc.su/category/web-razrabotka/javascript-2/"
%li
  = link_to "http://anton.shevchuk.name/category/javascript/", "http://anton.shevchuk.name/category/javascript/"
%li
  = link_to "http://blog.lysender.com/category/web-development/javascript/", "http://blog.lysender.com/category/web-development/javascript/"
%li
  = link_to "http://javascript.info/", "http://javascript.info/"
%li
  = link_to "http://javascript.ru/", "http://javascript.ru/"
%li
  = link_to "http://jquery-howto.blogspot.com/search/label/javascript", "http://jquery-howto.blogspot.com/search/label/javascript"
%li
  = link_to "http://net.tutsplus.com/category/tutorials/javascript-ajax/?tag=tips", "http://net.tutsplus.com/category/tutorials/javascript-ajax/?tag=tips"
%li
  = link_to "http://paulbarry.com/tags/Javascript/articles", "http://paulbarry.com/tags/Javascript/articles"
%li
  = link_to "http://reference.sitepoint.com", "http://reference.sitepoint.com"
%li
  = link_to "http://rmcreative.ru/blog/tag/JavaScript", "http://rmcreative.ru/blog/tag/JavaScript"
%li
  = link_to "http://screencasts.org/topics/javascript", "http://screencasts.org/topics/javascript"

%li
  = link_to "http://solnic.eu/tags/javascript", "http://solnic.eu/tags/javascript"
%li
  = link_to "http://tigor.com.ua/blog/tag/javascript/", "http://tigor.com.ua/blog/tag/javascript/"
%li
  = link_to "http://wtfjs.com/", "http://wtfjs.com/"
%li
  = link_to "http://vispyanskiy.name/category/javascript", "http://vispyanskiy.name/category/javascript"
%li
  = link_to "http://www.alfajango.com/blog/category/javascript/", "http://www.alfajango.com/blog/category/javascript/"
%li
  = link_to "http://www.codeisart.ru/rubric/javascript/", "http://www.codeisart.ru/rubric/javascript/"
%li
  = link_to "http://www.giantflyingsaucer.com/blog/?cat=27", "http://www.giantflyingsaucer.com/blog/?cat=27"
%li
  = link_to "http://www.jspatterns.com/", "http://www.jspatterns.com/"
%li
  = link_to "http://yunaliev.ru/tag/javascript/", "http://yunaliev.ru/tag/javascript/"
%li
  = link_to "http://www.webmasters.by/downloads/category/11-cheat-sheet-javascript-ajax.html", "http://www.webmasters.by/downloads/category/11-cheat-sheet-javascript-ajax.html"
%li
  = link_to "http://www.tanzilo.com/category/javascript/", "http://www.tanzilo.com/category/javascript/"
%li
  = link_to "http://www.proklondike.com/books/javascript.html", "http://www.proklondike.com/books/javascript.html"
%li
  = link_to "http://www.nanodocumet.com/?cat=4", "http://www.nanodocumet.com/?cat=4"
%li
  = link_to "http://www.linkexchanger.su/category/javascript", "http://www.linkexchanger.su/category/javascript"

JQ:</br>
%li
  = link_to "http://ajaxian.com/by/topic/jquery", "http://ajaxian.com/by/topic/jquery"
%li
  = link_to "http://anton.shevchuk.name/tag/jquery/", "http://anton.shevchuk.name/tag/jquery/"
%li
  = link_to "http://blog.jeremymartin.name/search/label/jQuery", "http://blog.jeremymartin.name/search/label/jQuery"
%li
  = link_to "http://bitbybit.ru/articles?idFolder=9", "http://bitbybit.ru/articles?idFolder=9"
%li
  = link_to "http://blog.lysender.com/category/web-development/javascript/jquery-javascript-web-development/", "http://blog.lysender.com/category/web-development/javascript/jquery-javascript-web-development/"
%li
  = link_to "http://www.coderelic.com/category/jquery/", "http://www.coderelic.com/category/jquery/"
%li
  = link_to "http://docs.jquery.com/Main_Page", "http://docs.jquery.com/Main_Page"
%li
  = link_to "http://html-css.info/tag/jquery/", "http://html-css.info/tag/jquery/"
%li
  = link_to "http://i-webmaster.pp.ua", "http://i-webmaster.pp.ua"
%li
  = link_to "http://interestabout.blogspot.com/search/label/jquery", "http://interestabout.blogspot.com/search/label/jquery"
%li
  = link_to "http://jtouch.colorcharge.com/", "http://jtouch.colorcharge.com/"
%li
  = link_to "http://jquery-docs.ru/", "http://jquery-docs.ru/"
%li
  = link_to "http://jquery.page2page.ru/index.php5/%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0", "http://jquery.page2page.ru/index.php5/%D0%97%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%BD%D0%B0%D1%8F_%D1%81%D1%82%D1%80%D0%B0%D0%BD%D0%B8%D1%86%D0%B0"
%li
  = link_to "http://slyweb.ru/", "http://slyweb.ru/"
%li
  = link_to "http://screencasts.org/topics/jquery", "http://screencasts.org/topics/jquery"
%li
  = link_to "http://rmcreative.ru/blog/tag/jQuery", "http://rmcreative.ru/blog/tag/jQuery"
%li
  = link_to "http://of.com.ua/tag/jquery/", "http://of.com.ua/tag/jquery/"
%li
  = link_to "http://visualjquery.ru/", "http://visualjquery.ru/"
%li
  = link_to "http://viralpatel.net/blogs/category/javascript/jquery/", "http://viralpatel.net/blogs/category/javascript/jquery/"
%li
  = link_to "http://tigor.com.ua/blog/tag/jquery/", "http://tigor.com.ua/blog/tag/jquery/"
%li
  = link_to "http://blog.alexanderdickson.com/", "http://blog.alexanderdickson.com/"
%li
  = link_to "http://www.alfajango.com/blog/category/javascript/jquery/", "http://www.alfajango.com/blog/category/javascript/jquery/"
%li
  = link_to "http://www.jonathanhui.com/jquery", "http://www.jonathanhui.com/jquery"
%li
  = link_to "http://www.larryullman.com/tag/jquery/", "http://www.larryullman.com/tag/jquery/"
%li
  = link_to "http://www.learningjquery.com/categories", "http://www.learningjquery.com/categories"
%li
  = link_to "http://www.linkexchanger.su/category/jquery", "http://www.linkexchanger.su/category/jquery"
%li
  = link_to "http://www.sitepoint.com/tag/jquery/", "http://www.sitepoint.com/tag/jquery/"
%li
  = link_to "http://www.splashnology.com/article/8-jquery-plugins-you-will-probably-want-to-use/197/", "http://www.splashnology.com/article/8-jquery-plugins-you-will-probably-want-to-use/197/"
%li
  = link_to "http://www.webnotes.com.ua/index.php/archives/tag/jquery", "http://www.webnotes.com.ua/index.php/archives/tag/jquery"
%li
  = link_to "http://yunaliev.ru/category/development/javascript/jquery-javascript/", "http://yunaliev.ru/category/development/javascript/jquery-javascript/"

JAVA:</br>
%li
  = link_to "http://jeeconf.com/materials/java-developer/", "http://jeeconf.com/materials/java-developer/"
%li
  = link_to "http://newrelic.com/?utm_source=LNKI&utm_medium=advertising&utm_content=rpm&utm_campaign=RPM&utm_term=AppDeveloper&mpc=TA-LNKI-RPM-EN-0-GeneralCampaign-AppDeveloper#", "http://newrelic.com/?utm_source=LNKI&utm_medium=advertising&utm_content=rpm&utm_campaign=RPM&utm_term=AppDeveloper&mpc=TA-LNKI-RPM-EN-0-GeneralCampaign-AppDeveloper#"

LINUX:</br>
%li
  = link_to "http://www.gnu.org/gnu/why-gnu-linux.ru.html", "http://www.gnu.org/gnu/why-gnu-linux.ru.html"
%li
  = link_to "http://ubuntu-for-novices.blogspot.com/", "http://ubuntu-for-novices.blogspot.com/"
%li
  = link_to "http://help.ubuntu.ru/fullcircle/25/%D1%81%D0%BE%D0%B2%D0%B5%D1%82%D1%8B", "http://help.ubuntu.ru/fullcircle/25/%D1%81%D0%BE%D0%B2%D0%B5%D1%82%D1%8B"
%li
  = link_to "http://ubuntu.ru/", "http://ubuntu.ru/"
%li
  = link_to "http://www.f-notes.info:9102/linux:linux_command", "http://www.f-notes.info:9102/linux:linux_command"
%li
  = link_to "https://wiki.ubuntu.com/", "https://wiki.ubuntu.com/"
%li
  = link_to "http://chest-books.dyndns.info/wordpress/?p=601", "http://chest-books.dyndns.info/wordpress/?p=601"

English:</br>
%li
  = link_to "http://www.ex.ua/view/107308", "http://www.ex.ua/view/107308"
%li
  = link_to "http://www.ex.ua/view/12890329", "http://www.ex.ua/view/12890329"

Phyton:</br>
%li
  = link_to "http://www.ex.ua/view/1116924", "http://www.ex.ua/view/1116924"
%li
  = link_to "https://www.djangoproject.com/", "https://www.djangoproject.com/"
%li
  = link_to "http://www.julython.org/", "http://www.julython.org/"
%li
  = link_to "http://www.scala-lang.org/api/current/index.html#scala.collection.mutable.PriorityQueue", "http://www.scala-lang.org/api/current/index.html#scala.collection.mutable.PriorityQueue"

SQL</br>
%li
  = link_to "http://video-lesson.biz/videolesson/comp/web/1143-mysql-5-proektirovanie-i-sozdanie-baz-dannyx-dlya-web-2010-videokurs.html", "http://video-lesson.biz/videolesson/comp/web/1143-mysql-5-proektirovanie-i-sozdanie-baz-dannyx-dlya-web-2010-videokurs.html"
%li
  = link_to "http://www.dbisyourfriend.com/", "http://www.dbisyourfriend.com/"
%li
  = link_to "http://www.mysqltutorial.org/mysql-select-statement-query-data.aspx", "http://www.mysqltutorial.org/mysql-select-statement-query-data.aspx"
%li
  = link_to "http://www.mysql.ru/docs/man/Examples.html", "http://www.mysql.ru/docs/man/Examples.html"
%li
  = link_to "http://rutracker.org/forum/index.php", "http://rutracker.org/forum/index.php"
%li
  = link_to "http://www.wowebook.be/tag/mysql/", "http://www.wowebook.be/tag/mysql/"
%li
  = link_to "http://all-ebooks.com/mysql/", "http://all-ebooks.com/mysql/"
%li
  = link_to "http://modernizr.com/", "http://modernizr.com/"
</br>

CSS&HTML</br>
Responsive Web Design By: Ethan Marcotte</br>
HTML5 24-Hour Trainer By: Joseph W. Lowery; Mark Fletcher</br>
CSS3 for Web Designers By: Dan Cederholm</br>
Core HTML5 Canvas: Graphics, Animation, and Game Development By: David Geary</br>
Introducing HTML5, Second Edition By: Bruce Lawson; Remy Sharp</br>
Bulletproof Web Design: Improving flexibility and protecting against worst-case scenarios with HTML5 and CSS3, Third Edition By: Dan Cederholm</br>
HTML5 Multimedia: Develop and Design By: Ian Devlin</br>
Transcending CSS: The Fine Art of Web Design By: Andy Clarke; Molly E. Holzschlag; Dave Shea</br>
HTML5 and CSS3: Visual QuickStart Guide, Seventh Edition By: Elizabeth Castro; Bruce Hyslop</br>
HTML5 Now: A Step-by-Step Video Tutorial for Getting Started Today By: Tantek Çelik</br>
The Web Designer’s Guide to iOS Apps: Create iPhone, iPod touch, and iPad Apps with Web Standards (HTML5, CSS3, and JavaScript) By: Kristofer Layon</br>
Web Form Design By: Luke Wroblewski</br>
Tap, Move, Shake: Turning Your Game Ideas into iPhone & iPad Apps By: Todd Moore</br>
HTML5 for Web Designers By: Jeremy Keith</br>
Mobile First By: Luke Wroblewski</br>
</br>

%li
  = link_to "http://www.creativeedge.com/", "http://www.creativeedge.com/"
%li
  = link_to "http://html5doctor.com/", "http://html5doctor.com/"
%li
  = link_to "http://html5gallery.com/", "http://html5gallery.com/"
%li
  = link_to "http://fmbip.com/", "http://fmbip.com/"
%li
  = link_to "http://html5test.com/", "http://html5test.com/"
%li
  = link_to "http://html5demos.com/", "http://html5demos.com/"
%li
  = link_to "http://modernizr.com/", "http://modernizr.com/"
%li
  = link_to "http://jsfiddle.net/", "http://jsfiddle.net/"
%li
  = link_to "http://www.bruceontheloose.com/htmlcss/examples/", "http://www.bruceontheloose.com/htmlcss/examples/"
%li
  = link_to "http://www.focus.com/images/view/11905/", "http://www.focus.com/images/view/11905/"
%li
  = link_to "http://jqueryjam.com/quiz/chapter_3.html", "http://jqueryjam.com/quiz/chapter_3.html"
%li
  = link_to "http://www.html5rocks.com/en/", "http://www.html5rocks.com/en/"
%li
  = link_to "http://diveinto.html5doctor.com/introduction.html", "http://diveinto.html5doctor.com/introduction.html"
%li
  = link_to "http://www.studiopress.com/design/retina-display-design.htm", "http://www.studiopress.com/design/retina-display-design.htm"
%li
  = link_to "http://javascriptplayground.com/", "http://javascriptplayground.com/"
%li
  = link_to "http://gsnedders.html5.org/outliner/", "http://gsnedders.html5.org/outliner/"
%li
  = link_to "http://code.google.com/p/geo-location-javascript/source/browse/trunk/js/geo.js?r=64", "http://code.google.com/p/geo-location-javascript/source/browse/trunk/js/geo.js?r=64"
%li
  = link_to "http://www.canvasdemos.com", "http://www.canvasdemos.com"
%li
  = link_to "https://developer.mozilla.org/ru/docs/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5_canvas", "https://developer.mozilla.org/ru/docs/%D0%9E%D0%B1%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5_canvas"
%li
  = link_to "http://code.google.com/p/explorercanvas/wiki/Instructions", "http://code.google.com/p/explorercanvas/wiki/Instructions"
%li
  = link_to "http://caniuse.com/", "http://caniuse.com/"
%li
  = link_to "http://socket.io/", "http://socket.io/"
%li
  = link_to "http://schema.org/", "http://schema.org/"
%li 
  = link_to "http://www.4tivo.com/", "http://www.4tivo.com/"
%li
  = link_to "http://www.wowebook.be/", "http://www.wowebook.be/"
%li
  = link_to "http://wmate.ru/ebooks/", "http://wmate.ru/ebooks/"
%li
  = link_to "http://progbook.ru/", "http://progbook.ru/"
%li
  = link_to "http://shytex.com/", "http://shytex.com/"
%li
  = link_to "http://mikst.org.ua/", "http://mikst.org.ua/"
%li
  = link_to "http://progbook.net/", "http://progbook.net/"
%li
  = link_to "http://knowfree.net/", "http://knowfree.net/"
%li
  = link_to "http://www.downtr.co/ebooks/", "http://www.downtr.co/ebooks/"
%li
  = link_to "http://www.downarchive.com/", "http://www.downarchive.com/"
%li
  = link_to "http://ebookee.org/", "http://ebookee.org/"
%li
  = link_to "http://www.ebooksdownloadfree.com/", "http://www.ebooksdownloadfree.com/"
%li
  = link_to "http://www.internet-technologies.ru/books/", "http://www.internet-technologies.ru/books/"
%li
  = link_to "http://www.knigka.info/", "http://www.knigka.info/"
%li
  = link_to "http://www.kodges.ru/", "http://www.kodges.ru/"
%li
  = link_to "http://www.manning.com/catalog/", "http://www.manning.com/catalog/"
%li
  = link_to "http://www.mirknig.com/programming/", "http://www.mirknig.com/programming/"
%li
  = link_to "http://www.mkyong.com/category/tutorials/", "http://www.mkyong.com/category/tutorials/"
%li
  = link_to "http://netbks.org/", "http://netbks.org/"
%li
  = link_to "http://www.twirpx.com/library/comp/linux/", "http://www.twirpx.com/library/comp/linux/"
%li
  = link_to "http://www.txt.uz/", "http://www.txt.uz/"
%li
  = link_to "http://wmate.ru/ebooks/", "http://wmate.ru/ebooks/"
%li
  = link_to "http://www.wowebook.be/", "http://www.wowebook.be/"
%li
  = link_to "http://korzh.net/", "http://korzh.net/"
</ul>
</p>
<div>
