<center><h2>Наша банда</h2></center>
<div class="span6">	
= image_tag "users/such7.png", :size => "100x200", :align => "left", :class => "image"
<div class="name">
Артем
</div>
<div class="text_decor">
Teхнологии:
</div>
Ruby, Ruby on Rails, Ajax, JavaScript
<div class="text_decor">
Проекты: 
</div>
<div class="text_decor">
Хобби:
</div>
</div>

<div class="span6">	
= image_tag "users/Kochergin.jpg", :size => "100x200", :align => "left", :class => "image"
<div class="name">
Alexander Kochergin
</div>
<div class="text_decor">
Teхнологии: http://ecook.com.ua/
</div>
Ruby, Ruby on Rails, PHP, Drupal, Ajax, Javascript
<div class="text_decor">
Проекты:
</div>
<div class="text_decor">
Хобби:
</div>
</div>

<div class="span6">	
= image_tag "users/michael.png", :size => "100x200", :align => "left", :class => "image"
<div class="name">
Михаил
</div>
<div class="text_decor">
Teхнологии:
</div>
PHP, MySQL, PostgreSQL, Memcached, Ruby (Rails/Sinatra), CoffeeScript, HAML, SASS, ERB
<div class="text_decor">
Проекты:
</div>
<div class="text_decor">
Хобби:
</div>
</div>

<div class="span6">	
= image_tag "users/man_brown.png", :size => "100x200", :align => "left", :class => "image"
<div class="name">
Женя
</div>
<div class="text_decor">
Teхнологии:
</div>
Ruby, Ruby on Rails, Ajax, JavaScript
<div class="text_decor">
Проекты:
</div>
<div class="text_decor">
Хобби:
</div>
</div>

<div class="span6">	
= image_tag "users/dmitry.jpg", :size => "100x200", :align => "left", :class => "image"
<div class="name">
Дмитрий
</div>
<div class="text_decor">
Teхнологии:
</div>
Ruby, Ruby on Rails, Ajax, JavaScript
<div class="text_decor">
Проекты:
</div>
<div class="text_decor">
Хобби:
</div>
</div>
