<div class="container">
<h2>Ruby/Rails Course Description:</h2>
<p>
Ruby
Ruby is a powerful tool in its own right. Take the time to learn Ruby now and it will continue to pay off down the road. You can start learning Ruby today!</br>
What Will I Learn?</br>
You’ll learn everything you need to know about Ruby to be a productive programmer. And we take it a step further. You’ll also learn Ruby design principles and techniques to help you become a better all-around Ruby programmer. We’ll start at the very beginning and work step-by-step to create a complete Ruby program. You’ll learn exactly how all the pieces go together, and you’ll come away with the confidence that you truly understand Ruby.</br>
Rails</br>
Ruby on Rails is a breakthrough in lowering the barriers of entry to programming.</br>
Powerful web applications that formerly might have taken weeks or months
to develop can be produced in a matter of days.</br>
What Will I Learn?</br>
— Learn how to build high-quality web apps quick and clean.</br>
— Learn how to use the core features of Rails 3, and put them all together to build dynamic web applications like the pros: from idea to deployment!</br>

— Gain hands-on coding experience and get your questions answered so you can start creating your own Rails applications with confidence.</br>
Save time and frustration by focusing exclusively on Ruby and Rails development.</br>
Current course has been redesigned to cover the latest Rails 3.2.</br>
TDD/BDD</br>
What Will I Learn?</br>
How to build high-quality applications the red-green-refactor way!</br>
In this course you’ll learn test-driven development by actually doing it through a series of guided hands-on exercises. You’ll come away from this course in the testing mindset with a solid foundation of the practices. You’ll finally get TDD & BDD and have the experience to make it stick.</br>
Major topics include:</br>
— Code with confidence in the Red/Green/Refactor cycle</br>
— Test Rails models, views, and controllers</br>
— Creating Fixtures, Factories, Mocks & Stubs</br>
— Behavior-based testing</br>
— Tools of the Trade: RSpec, Cucumber</br>
