/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
P {
	margin:0;
} 

.image{
	padding-right: 20px;	
	width: 150px;
	height: 150px; 
	padding-bottom: 35px;
}

.name{
	text-decoration: underline;
	text-align: center;
	font-size: 18px;

}

.text_decor{
	text-decoration: underline;
	text-align: left;
	font-size: 14px;
	color: #707070;
}
