<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
     
     </button>
     <div class="brand">RubyMEETUP</div>

      <nav>
        <ul class="nav pull-left">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "People", :controller => 'static_pages', :action=>'people' %></li>
          <li><%= link_to " ",:controller => 'static_pages', :action=>'material' %></li>
          <li><%= link_to " ",:controller => 'static_pages', :action=>'programm' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
