<!DOCTYPE html>
<html>
<head>
  <title>Ruby MEETUP Kiev</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>      
  <%= render 'layouts/header' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
		<div class="row">
			<%= yield %>
		</div>
	</div>
  <%= render 'layouts/footer' %>
</body>
</html>
